*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Navbar */

#mainNavbar {
    transition: background-color 0.5s ease;
}
nav .nav-link{
    color: #fff;
    font-weight: bold;
}


/* After scrolling more than 150px */

#mainNavbar.scrolled {
    background-color: #0b1849a0 !important;
    color: white;
}
#mainNavbar.scrolled .nav-link{
    color: white;
}

/* navbar end */

/* hero section */
.hero-section {
    position: relative;
    height: 100vh;
    background: url('images/photo6.png') center/cover no-repeat;
  }

.hero-section .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #f0e4dae6 50%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    padding-left: 4rem;
  }
.hero-section .hero-text h1, .hero-text h5, .hero-text p {
    color: #6b2c2c;
  }
.hero-section .btn{
    background-color:#124D1C;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
.hero-section .btn:hover{
    transform: scale(1.1);
    border: 2px solid #124D1C;
    color: #124D1C;
}