*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Navbar */

#mainNavbar {
    transition: background-color 0.5s ease;
}
nav .nav-link{
    color: #fff;
    font-weight: bold;
}


/* After scrolling more than 150px */

#mainNavbar.scrolled {
    background-color: #0b1849a0 !important;
    color: white;
}
#mainNavbar.scrolled .nav-link{
    color: white;
}

/* navbar end */

/* hero section */
.hero-section {
    position: relative;
    height: 100vh;
    background: url('images/photo6.png') center/cover no-repeat;
  }

.hero-section .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #f0e4dae6 50%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    padding-left: 4rem;
  }
.hero-section .hero-text h1, .hero-text h5, .hero-text p {
    color: #6b2c2c;
  }
.hero-section .btn{
    background-color:#124D1C;
    color: #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
.hero-section .btn:hover{
    transform: scale(1.1);
    border: 2px solid #124D1C;
    color: #124D1C;
}

/* start section countdown */
 .countdown-section {
    background-color: #6c2424;
    letter-spacing: 5px;
  }
  small {
    opacity: 0.8;
  }





  .hover-card {
      position: relative;
      overflow: hidden;
      border-radius: 0.75rem;
      transition: transform 0.3s ease;
    }

    .hover-card img {
      width: 100%;
      height: 350px;
      transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .hover-overlay {
      position: absolute;
      inset: 0;
      background: rgba(8, 3, 52, 0.299);
      color: #fff;
      opacity: 0;
      transition: opacity 0.5s ease;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1.25rem;
      text-align: center;
    }
     .hover-card:hover img {
      transform: scale(1.05);
      opacity: 0.9;
    }

    .hover-card:hover .hover-overlay {
      opacity: 1;
    }

    .hover-overlay h6 {
      color: #FFD700;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .hover-overlay h4 {
      font-weight: 700;
      margin-top: 0.5rem;
    }

    .hover-overlay p {
      font-size: 0.9rem;
      opacity: 0.85;
    }